$brand:#000000;
$brand1:#F46A06;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    font-weight:700;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;

}
.container{
    max-width: 1200px;
}
.navbar-brand{
    font-family: Quicksand;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 50px;
color:$brand;
}
span{
    color:$brand1;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:$brand1;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

